body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5; /* fond clair */
    color: #222; /* texte foncé */
}

/* HEADER CLAIR */
header {
    background: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

nav a.active {
    color: #7f5af0; /* couleur de ton thème */
}

.logo {
    height: 50px;
    width: auto;
}


/* SECTION HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

/* BOUTON */
.btn {
    background: #7f5af0;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.feature {
    width: 250px;
    text-align: center;
}

/* PAGES */
.page {
    padding: 40px;
}

/* FOOTER CLAIR */
footer {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}


